body, html {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 5px;
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background: #fff;
}

.navigation-section {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.navigation-section .navigation-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.navigation-section .logo-wrapper .logo-img {
  width: 60px;
}

.navigation-section .hamburger-wrapper {
  z-index: 3;
}

.navigation-section .hamburger-wrapper .hamburger-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.navigation-section .hamburger-wrapper .hamburger-button span {
  font-family: "Spartan", sans-serif;
  margin-right: 5px;
  font-size: 16px;
  color: #A6A0A0;
  -webkit-transition: .2s;
  transition: .2s;
}

.navigation-section .hamburger-wrapper .hamburger-button .open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-section .hamburger-wrapper .hamburger-button .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-section .hamburger-wrapper .hamburger-button .fas {
  font-size: 40px;
  position: relative;
  -webkit-transition: 2s;
  transition: 2s;
}

.navigation-section .hamburger-wrapper .hamburger-button:hover .fas {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: #000;
}

.navigation-section .hamburger-wrapper .hamburger-button:hover span {
  color: #000;
}

.navigation-section .hamburger-wrapper .hamburger-button .open-close--active {
  display: none;
}

.navigation-section .hamburger-wrapper .hamburger-button--active {
  color: #fff;
}

.navigation-section .hamburger-wrapper .hamburger-button--active:hover span {
  color: #fff;
}

.navigation-section .hamburger-wrapper .hamburger-button--active:hover .fas {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: #fff;
}

.navigation-section .main-menu-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-105%);
          transform: translateY(-105%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation-section .main-menu-wrapper .nav-img-wrapper {
  max-width: 355px;
  max-height: 548px;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-image: url("../../../img/navigation-img/nav-img-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 70px;
}

@media (max-width: 880px) {
  .navigation-section .main-menu-wrapper .nav-img-wrapper {
    display: none;
  }
}

@media (max-height: 900px) {
  .navigation-section .main-menu-wrapper .nav-img-wrapper {
    max-height: 50%;
  }
}

.navigation-section .main-menu-wrapper .main-menu-list {
  max-width: 380px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

@media (max-width: 880px) {
  .navigation-section .main-menu-wrapper .main-menu-list {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    max-width: 90%;
  }
}

.navigation-section .main-menu-wrapper .main-menu-list .main-menu-item {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
}

.navigation-section .main-menu-wrapper .main-menu-list .main-menu-item::after {
  width: 100%;
  width: 100%;
  height: 1px;
  background: #fff;
  content: '';
  bottom: 7px;
  left: 0;
  position: absolute;
  -webkit-transform: translateX(-105%);
          transform: translateX(-105%);
  -webkit-transition: .4s;
  transition: .4s;
}

.navigation-section .main-menu-wrapper .main-menu-list .main-menu-item::before {
  width: 100%;
  height: 1px;
  background: #A6A0A0;
  content: '';
  bottom: 7px;
  position: absolute;
}

.navigation-section .main-menu-wrapper .main-menu-list .main-menu-item:hover::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.navigation-section .main-menu-wrapper .main-menu-list .main-menu-item:hover .main-link-item {
  color: #fff;
}

.navigation-section .main-menu-wrapper .main-menu-list .main-menu-item .main-link-item {
  color: #A6A0A0;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .navigation-section .main-menu-wrapper .main-menu-list .main-menu-item .main-link-item {
    font-size: 7vw;
  }
}

@media (max-height: 900px) {
  .navigation-section .main-menu-wrapper .main-menu-list .main-menu-item .main-link-item {
    font-size: 5vh;
  }
}

.navigation-section .main-menu-wrapper .main-menu-list .main-menu-item .main-link-item .list-nr {
  font-size: 14px;
  margin-right: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation-section .main-menu-wrapper .close-nav-button {
  position: absolute;
  bottom: 10%;
  height: 50px;
  border: none;
  background: transparent;
  color: #A6A0A0;
  font-family: "Spartan", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.navigation-section .main-menu-wrapper .close-nav-button::before {
  width: 30px;
  height: 2px;
  content: '';
  background: #A6A0A0;
  -webkit-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotate(45deg);
  position: absolute;
  top: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navigation-section .main-menu-wrapper .close-nav-button::after {
  width: 30px;
  height: 2px;
  content: '';
  background: #A6A0A0;
  -webkit-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotate(-45deg);
  position: absolute;
  top: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navigation-section .main-menu-wrapper .close-nav-button:hover {
  color: #fff;
}

.navigation-section .main-menu-wrapper .close-nav-button:hover::before {
  background: #fff;
  -webkit-transform: translateY(0px) rotate(25deg);
          transform: translateY(0px) rotate(25deg);
}

.navigation-section .main-menu-wrapper .close-nav-button:hover::after {
  background: #fff;
  -webkit-transform: translateY(0px) rotate(-25deg);
          transform: translateY(0px) rotate(-25deg);
}

.navigation-section .main-menu-wrapper .nav-social-wrapper {
  width: 100%;
  position: absolute;
  bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation-section .main-menu-wrapper .nav-social-wrapper .nav-social-link {
  text-decoration: none;
  color: #fff;
  margin-right: 30px;
  font-size: 28px;
}

.navigation-section .main-menu-wrapper .nav-social-wrapper .nav-social-link:last-child {
  margin: 0;
}

.navigation-section .main-menu-wrapper .nav-social-wrapper .nav-social-link:hover .fa-instagram {
  color: #ee1b0c;
}

.navigation-section .main-menu-wrapper .nav-social-wrapper .nav-social-link:hover .fa-facebook-f {
  color: #3b5998;
}

.navigation-section .main-menu-wrapper .nav-social-wrapper .nav-social-link:hover .fa-snapchat-ghost {
  color: #FFFC00;
}

.navigation-section .main-menu-wrapper .nav-social-wrapper .nav-social-link:hover .fa-youtube {
  color: #c4302b;
}

.navigation-section .main-menu--active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.next-section-anim {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: -250%;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 10;
}

.next-section-anim .bg-color-1 {
  width: 100%;
  height: 100vh;
  background: #000;
}

.next-section-anim .bg-color-2 {
  width: 100%;
  height: 100vh;
  background: #141111;
}

.next-section-anim--active {
  top: 0;
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from(#2C2B2B), color-stop(77.2%, #000000));
  background: linear-gradient(360deg, #2C2B2B 0%, #000000 77.2%);
}

.fa-compact-disc {
  color: #fff;
}

.hamburger-button:hover .fas {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: #fff !important;
}

.hamburger-button:hover span {
  color: #fff !important;
}

.welcome-anim-galery {
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
}

.welcome-anim-galery .bg-color-1 {
  width: 100%;
  height: 100vh;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-section {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-section .zoomed-img-wrapper {
  width: 100%;
  height: 100vh;
}

.header-section .zoomed-img-wrapper .zoomed-img {
  width: 80%;
}

.header-section .galery-content-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 120px 0;
}

.header-section .galery-content-wrapper .galery-heading {
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  font-size: 70px;
}

@media (max-width: 500px) {
  .header-section .galery-content-wrapper .galery-heading {
    font-size: 45px;
  }
}

.header-section .go-to-start {
  position: fixed;
  right: 0;
  color: #fff;
  top: 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-family: "Spartan", sans-serif;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 500px) {
  .header-section .go-to-start {
    right: -4%;
  }
}

.header-section .go-to-start::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 1px;
  right: -55%;
  background: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-section .go-to-start::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  right: -57%;
  background: #fff;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%, 11% 50%);
          clip-path: polygon(0 0, 100% 50%, 0 100%, 11% 50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-section .go-to-start:hover::before {
  width: 35px;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.header-section .go-to-start:hover::after {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.header-section .galery-img-wrapper {
  width: 80%;
  position: relative;
}

.header-section .galery-img-wrapper::before {
  position: absolute;
  left: -20px;
  width: 1px;
  height: 90%;
  background: #fff;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 170px;
  border-top: 1px solid #fff;
  margin-top: 100px;
}

.footer-section .footer-logo-wrapper {
  margin-bottom: 30px;
}

.footer-section .footer-logo-wrapper img {
  width: 34px;
}

.footer-section .footer-social-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.footer-section .footer-social-wrapper .footer-social-link {
  text-decoration: none;
  color: #fff;
  margin-right: 30px;
  font-size: 28px;
}

.footer-section .footer-social-wrapper .footer-social-link:last-child {
  margin: 0;
}

.footer-section .footer-social-wrapper .footer-social-link:hover .fa-instagram {
  color: #ee1b0c;
}

.footer-section .footer-social-wrapper .footer-social-link:hover .fa-facebook-f {
  color: #3b5998;
}

.footer-section .footer-social-wrapper .footer-social-link:hover .fa-snapchat-ghost {
  color: #FFFC00;
}

.footer-section .footer-social-wrapper .footer-social-link:hover .fa-youtube {
  color: #c4302b;
}

.footer-section .footer-content {
  color: #fff;
  font-family: "Spartan", sans-serif;
  font-weight: normal;
  font-size: 9px;
}

.footer-section .footer-content .footer-link {
  color: #A6A0A0;
  font-family: "Spartan", sans-serif;
  font-weight: normal;
  text-decoration: none;
}

.footer-section .footer-content .footer-link:hover {
  color: #fff;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

.image-cover-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
  pointer-events: none;
}

.model-shown {
  pointer-events: all;
  opacity: 1;
}

.image-cover-modal-content {
  display: block;
  max-width: 80%;
  max-height: 80%;
}
/*# sourceMappingURL=galery.css.map */