////////////////////////////////////////
//                                    //
// File with colors variables on site //
//                                    //
////////////////////////////////////////


$color1: #fff;
$color2: #000;
$color3: #A6A0A0;
$color4: #706E6E;
$color5: #141111;
