////////////////////////////////////////
//                                    //
// File with colors variables on site //
//                                    //
////////////////////////////////////////


$color1: #fff;
$color2: #000;
$color3: #A6A0A0;
$color4: #706E6E;
$color5: #141111;
$linar: linear-gradient(360deg, #2C2B2B 0%, #000000 77.2%);
