//////////////////////////////////////////
//                                      //
// File with all font variables on site //
//                                      //
//////////////////////////////////////////


$font1: 'Spartan', sans-serif;
$font2: 'Squada One', cursive;
$font3: 'Tinos', serif;
$font4: 'Titillium Web', sans-serif;
